#focus-ideate {
  width: 80%;
  margin: 0px auto;
  padding-left: 50px;
}

#focus-ideate .focus-prompt {
  border:1px solid black;
  margin-top: 10px;
  padding: 30px 40px 30px 40px;
  border-radius: 5px;
  /*box-shadow: 1px 1px 1px 1px #B0B0B0;*/
}

.focus-prompt-path {
  font-weight: bold;
  font-size: 20px;
}

#focus-ideate .focus-input {
  /*border:1px solid black;*/
}

/*****************************************************************************
 * Idea entry box styles
*****************************************************************************/
#focus-ideate .main-prompt {
  /*background: #449d44;*/
  /*background: #82837E;*/
  background: #f5f5f5;
  /*background: rgba(176, 176, 176, 0.9); /*#B0B0B0 Light Grey*/
  border-right: 1px solid #464646;
  height: 100%;
  margin-left: -15px;
}

#focus-ideate .ideator-directions {
  border-bottom: 1px solid #464646;
  padding-bottom: 10px;
}

#focus-ideate .directions-header {
  font-size:20px;
}

/*#focus-ideate .ideator-directions h3 {
  font-size: 1.2em;
  color: black;
}*/

#focus-ideate .ideator-directions p {
  font-size: 0.8em;
  color: black;
}

#focus-ideate .general-idea-entry {
  margin-top: 10px;
  width: 100%;
  /*position: absolute;*/
  /*top: 140px; Aligns with text entry for task lists*/
  left: 0;
  right: 0;
  bottom: 0;
  /*overflow: scroll;*/
}

#focus-ideate .idea-input {
  width: 100%;
  /*margin: 5px 2% 0px 2%;*/
  padding: 5px;
  resize: none;
  font-size: 16px;
  border-radius: 5px;
}

#focus-ideate .submit-idea {
  width: 100%;
  /*margin: 0px 2% 15px 2%;*/
  margin-bottom: 15px;
  padding: 5px;
  display: block;
  font-weight: bold;
  font-size:18px;
}

#focus-ideate .submit-idea-fake {
  width: 100%;
  /*margin: 0px 2% 15px 2%;*/
  margin-bottom: 15px;
  padding: 5px;
  display: block;
  font-weight: bold;
  font-size:18px;
  cursor: default;
}

#focus-ideate .idea-list-box {
  /*position: relative;*/
  /*z-index: 15;*/
  /*overflow: auto;*/
}

#focus-ideate .idea-list {
  /*overflow: scroll;*/
}

#focus-ideate .general-idea-entry .idea-count {
  margin-right: 50px;
}

#focus-ideate .idea-count {
  text-align: center;
  margin-right: 25px;
  color: #000;
}
#focus-ideate .idea-count h3, h4{
  display: inline-block;
}

#focus-ideate .idea-count-label {
  right: 100px;
  font-color: #000;
}

#focus-ideate .idea-box {
  vertical-align: top;
  width: 100%;
  margin-top: 5px;
  /*margin: 5px 5%;*/
  padding: 8px;
  min-height: 1.1em;
  background: white;
  border: 1px solid #464646;
  border-radius: 5px;
  color: black;
  text-align: left;
  position: relative;
}
#focus-ideate .idea-box p {
  margin: 0;
  color: #000;
}

#focus-ideate .idea-box .vote-box {
  position: absolute;
  right: 15px;
  height: 1.5em;
}

#focus-ideate .idea-box .vote-box .vote {
  margin-right: 5px;
}

#focus-ideate .idea-box .vote-box .glyphicon:hover {
  color: blue;
}

#focus-ideate .fade-protolab {
  opacity:0;
  -webkit-transition:opacity .15s linear;
  -o-transition:opacity .15s linear;
  transition:opacity .15s linear
}
#focus-ideate .fade-protolab.in {
  opacity:1;
}

#focus-ideate #task-begin-modal {
  position:absolute;
  top:1%;
  right:50%;
}
